In [7]:
import pandas as pd
import numpy as np

In [27]:
l1=[1,2,3]
l2=[3,2,1]
idx=[1,2,3]

In [28]:
df = pd.DataFrame({'col1':l1, 'col2':l2}, index = idx)
df

   col1  col2
1     1     3
2     2     2
3     3     1

In [29]:
new_df = df.sort_values(by = 'col1', ascending = True, axis = 0)
new_df

   col1  col2
1     1     3
2     2     2
3     3     1

In [30]:
df.corr(method = 'kendall')

      col1  col2
col1   1.0  -1.0
col2  -1.0   1.0